.testimonial-card {
  align-items: flex-start;
  background-color: #0f0f0f;
  border: 1px solid;
  border-color: #3b3b3b3d;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 24px;
  position: relative;
  width: 400px;
}

.testimonial-card .img {
  height: 24px;
  position: relative;
}

.testimonial-card .jira-core {
  height: 24px;
  position: relative;
}

.testimonial-card .jira-core-2 {
  height: 87.50%;
  left: 9.38%;
  position: relative;
  top: 6.25%;
  width: 75.00%;
}

.testimonial-card .vector {
  height: 64.98%;
  left: 60.84%;
  position: absolute;
  top: 35.01%;
  width: 39.16%;
}

.testimonial-card .vector-2 {
  height: 66.79%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.testimonial-card .vector-3 {
  height: 41.85%;
  left: 30.51%;
  position: absolute;
  top: 26.78%;
  width: 7.03%;
}

.testimonial-card .vector-4 {
  height: 31.73%;
  left: 37.85%;
  position: absolute;
  top: 37.84%;
  width: 7.72%;
}

.testimonial-card .vector-5 {
  height: 41.21%;
  left: 45.92%;
  position: absolute;
  top: 37.78%;
  width: 7.30%;
}

.testimonial-card .vector-6 {
  height: 31.73%;
  left: 53.89%;
  position: absolute;
  top: 37.84%;
  width: 7.72%;
}

.testimonial-card .vector-7 {
  height: 41.85%;
  left: 62.29%;
  position: absolute;
  top: 26.78%;
  width: 2.30%;
}

.testimonial-card .vector-8 {
  height: 40.74%;
  left: 65.59%;
  position: absolute;
  top: 37.78%;
  width: 7.52%;
}

.testimonial-card .vector-9 {
  height: 31.79%;
  left: 73.34%;
  position: absolute;
  top: 37.78%;
  width: 6.80%;
}

.testimonial-card .vector-10 {
  height: 30.85%;
  left: 80.73%;
  position: absolute;
  top: 38.66%;
  width: 6.95%;
}

.testimonial-card .vector-11 {
  height: 30.85%;
  left: 88.68%;
  position: absolute;
  top: 37.78%;
  width: 11.22%;
}

.testimonial-card .figma-instance {
  height: 99.96% !important;
  left: 10.00% !important;
  position: absolute !important;
  top: 0 !important;
  width: 24.00% !important;
}

.testimonial-card .text-2 {
  align-self: stretch;
  color: var(--basewhite);
  font-family: var(--body-extra-large-regular-font-family);
  font-size: var(--body-extra-large-regular-font-size);
  font-style: var(--body-extra-large-regular-font-style);
  font-weight: var(--body-extra-large-regular-font-weight);
  letter-spacing: var(--body-extra-large-regular-letter-spacing);
  line-height: var(--body-extra-large-regular-line-height);
  position: relative;
}

.testimonial-card .content-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.testimonial-card .content-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 16px;
  position: relative;
}

.testimonial-card .avatar {
  background-image: url(../../../static/img/avatar.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 9999px;
  height: 52px;
  position: relative;
  width: 52px;
}

.testimonial-card .content-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.testimonial-card .text-3 {
  align-self: stretch;
  color: var(--basewhite);
  font-family: var(--body-extra-large-semi-bold-font-family);
  font-size: var(--body-extra-large-semi-bold-font-size);
  font-style: var(--body-extra-large-semi-bold-font-style);
  font-weight: var(--body-extra-large-semi-bold-font-weight);
  letter-spacing: var(--body-extra-large-semi-bold-letter-spacing);
  line-height: var(--body-extra-large-semi-bold-line-height);
  margin-top: -1.00px;
  position: relative;
}

.testimonial-card .text-4 {
  align-self: stretch;
  color: var(--neutral-100);
  font-family: var(--body-large-regular-font-family);
  font-size: var(--body-large-regular-font-size);
  font-style: var(--body-large-regular-font-style);
  font-weight: var(--body-large-regular-font-weight);
  letter-spacing: var(--body-large-regular-letter-spacing);
  line-height: var(--body-large-regular-line-height);
  position: relative;
}

.testimonial-card.version-three {
  left: 900px;
  top: 30px;
}

.testimonial-card.version-four {
  left: 20px;
  top: 359px;
}

.testimonial-card.version-eight {
  left: 460px;
  top: 25px;
}

.testimonial-card.version-six {
  left: 900px;
  top: 359px;
}

.testimonial-card.version-one {
  left: 20px;
  top: 20px;
}

.testimonial-card.version-five {
  left: 460px;
  top: 359px;
}

.testimonial-card.version-three .img {
  width: 121px;
}

.testimonial-card.version-four .img {
  width: 121px;
}

.testimonial-card.version-eight .img {
  width: 121px;
}

.testimonial-card.version-six .img {
  width: 121px;
}

.testimonial-card.version-one .img {
  width: 121px;
}

.testimonial-card.version-five .img {
  width: 100px;
}

.testimonial-card.version-three .jira-core {
  width: 23px;
}

.testimonial-card.version-four .jira-core {
  width: 100px;
}

.testimonial-card.version-eight .jira-core {
  width: 23px;
}

.testimonial-card.version-six .jira-core {
  width: 23px;
}

.testimonial-card.version-one .jira-core {
  width: 23px;
}

.testimonial-card.version-five .jira-core {
  width: 23px;
}

.testimonial-card.version-four .content-2 {
  align-self: stretch;
}

.testimonial-card.version-six .content-2 {
  align-self: stretch;
}

.testimonial-card.version-five .content-2 {
  align-self: stretch;
}
