.button {
  all: unset;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 32px;
  position: relative;
}

.button .text-5 {
  font-family: var(--body-large-semi-bold-font-family);
  font-size: var(--body-large-semi-bold-font-size);
  font-style: var(--body-large-semi-bold-font-style);
  font-weight: var(--body-large-semi-bold-font-weight);
  letter-spacing: var(--body-large-semi-bold-letter-spacing);
  line-height: var(--body-large-semi-bold-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button.outlined {
  background-color: var(--basewhite);
  border: 1px solid;
  border-color: var(--basewhite);
  top: 212px;
}

.button.large {
  height: 56px;
  left: 215px;
}

.button.secondary {
  background-color: #171717;
  border: 1px solid;
  border-color: #3b3b3b3d;
  top: 116px;
}

.button.normal {
  height: 50px;
  left: 62px;
}

.button.primary {
  background-color: var(--primary-500);
  top: 20px;
}

.button.outlined .text-5 {
  color: var(--neutral-500);
}

.button.secondary .text-5 {
  color: var(--basewhite);
  text-shadow: 0.5px 0.5px 0px #00000026;
}

.button.normal .text-5 {
  margin-top: -1.00px;
}

.button.primary .text-5 {
  color: var(--neutral-500);
  text-shadow: 0.5px 0.5px 0px #00000026;
}
